@import 'fonts';

body {
    margin: 0;
    background: url('@img/BG.png') center / cover no-repeat;
    font-family: 'Gilroy';
}

h1 {
    color: #cecece;
    span {
        color: #f00;
    }
}

@media (max-width: 768px) {
    body {
        background-color: green;
    }
}

@media (min-width: 768px) {
    h1 {
        background-color: blue;
    }
}